/* 
.background { color:#1E1E2F;} 
.fonte { color: #C5C6C7;}
.destaque {color: #66FCF1;}
*/
html {
    background  :#1E1E2F;
    fonte : #C5C6C7;
   
    font-size: 18px;
font-family: Arial, sans-serif;
}
p{ 
text-indent: 1em;
}
h1 {
    text-align: center;
    font-size: 1.8rem;
}
h2 {
    text-align: center;
    font-size: 1.4rem;
}
h3 {
    text-align: right;
    font-size: 1.2rem;
}
.summary {
    text-align: center;}
    .main p {
        line-height: 1.5;
    }
    abbr {
        font-variant: small-caps;
    }