./* 
.background { color:#1E1E2F;} 
.fonte { color: #C5C6C7;}
.destaque {color: #66FCF1;}
*/

html{
    font-size: 20px;
    background: #1E1E2F;
    color:#C5C6C7;
    font-family: Arial, sans-serif;
}
P{
    text-indent: 1em;
}

h1, h2, h3{
    text-align: center;
    font-style: oblique;

}
h1{
    font-size: 1.8rem;

}
h2{
    font-size: 1.4rem
    color#1f295c}
h3{
    font-size: 1.2rem;
    color:#1f295c
}
a{
    color: #1f295c;
}
a:hover{
    color:#1f295c;
}
.summary{
    text-align: right;
}
.main p{
    line-height: 1.5;
}
abbr{
    font-variant: small-caps;
}
.page-wrapper{
    width: 80%;
    max-width: 1280px;
    margin: auto;
}
#zen-intro{
    height: 550px;
}
#design-archives{
    display: none;
}
#zen-intro header{
    background-color:#C5C6C7;
    color:#1E1E2F;
}
#zen-intro header h1, #zen-intro header h2{
    text-align: center;
    display: inline-block;
}
#zen-intro header h1{
    margin-right: 1em;
    margin-left: 1em;
}
aside ul{
    list-style-type: none;
}
aside ul li{
    margin: 1em;
    text-align: center;
}
.main footer{
    margin: 4%;
}
.main footer a{
    border:solid 2px #C5C6C7;
    padding: 0.5em;

}
.page-wrapper{
    position: relative;
}
.explanation{ 
    border-right: #1f295c solid 1px;
    width: 60%;
    padding-right: 2%;
}
#design-selection{
    position: absolute;
    top: 480px;
    left: 62%;
    padding-left: 1%;
    padding-right: 1%;
}
.supporting footer {
display: flex;
justify-content: space-evenly;
}
.benefits {
    display: flex;
    border-top: #1E1E2F solid 1px;
    border-bottom: #1E1E2F solid 1px;
}
.benefits p{
    flex-basis: 70%;
}

.benefits h3 {
    order: 2;
align-self: center;
flex-basis: 30%;
}
.participation {
display: flex;
flex-wrap: wrap;
border-top: #1E1E2F solid 1px;
}
.participation h3, .participation p{
    flex-basis: 50%;
}
.participation h3 {
    align-self: center;
}